OCO_TOKENS_MAX_INPUT=4096
OCO_TOKENS_MAX_OUTPUT=500
OCO_PROMPT_MODULE=conventional-commit
OCO_ONE_LINE_COMMIT=false
OCO_TEST_MOCK_TYPE=commit-message
OCO_WHY=false
OCO_OMIT_SCOPE=false
OCO_GITPUSH=true
OCO_HOOK_AUTO_UNCOMMENT=undefined
OCO_MODEL=gpt-3.5-turbo
OCO_API_URL=https://api.openai.com/v1
OCO_API_KEY={{ onepasswordRead "op://Personal/openai-project-key/credential" }}
OCO_API_CUSTOM_HEADERS=undefined
OCO_AI_PROVIDER=openai
OCO_DESCRIPTION=false
OCO_EMOJI=false
OCO_LANGUAGE=en
OCO_MESSAGE_TEMPLATE_PLACEHOLDER=$msg
OCO_OPENAI_MAX_TOKENS=undefined
