[user]
    name = Tim Bryant
    email = "{{ onepasswordRead "op://Personal/google.com-main/username" }}"

[pager]
    branch = false


#[includeIf "gitdir:~/DevOps-Work/"]
#    path = ~/DevOps-Work/.gitconfig


[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    editor = nano

[trim]
	bases = develop,main
