[user]
    name = Tim Bryant
{{- if (or (eq .chezmoi.hostname "Timothys-MacBook-Pro") (eq .chezmoi.hostname "Timothys-MacBook-Air") (eq .chezmoi.hostname "timothys-macbook-air") (eq .chezmoi.os "linux")) }}
    email = "{{ onepasswordRead "op://Personal/google.com-main/username" }}"
{{- else if (and (ne .chezmoi.hostname "Timothys-MacBook-Pro") (ne .chezmoi.hostname "Timothys-MacBook-Air") (ne .chezmoi.hostname "timothys-macbook-air") (ne .chezmoi.os "linux")) }}
    email = "{{ onepasswordRead "op://Personal/simplisafe-okta/username" }}"
{{- else if (eq .chezmoi.os "linux") }}
    email = "{{ onepasswordRead "op://Personal/google.com-main/username" }}"
{{ end }}

[pager]
    branch = false

#[includeIf "gitdir:~/DevOps-Work/"]
#    path = ~/DevOps-Work/.gitconfig

[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    editor = nvim
    pager = delta

[trim]
    bases = develop,main

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true


    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

