  OCO_OPENAI_API_KEY={{ onepasswordRead "op://Personal/openai-api/credential" }}
  OCO_OPENAI_MAX_TOKENS=undefined
  OCO_OPENAI_BASE_PATH=undefined
  OCO_DESCRIPTION=false
  OCO_EMOJI=false
  OCO_MODEL=gpt-3.5-turbo-16k
  OCO_LANGUAGE=en
  OCO_MESSAGE_TEMPLATE_PLACEHOLDER=$msg
