[user]
    name = Tim Bryant
{{- if (and (eq .chezmoi.os "darwin") (ne .chezmoi.hostname "Timothy-Bryant")) }}
    email = "{{ onepasswordRead "op://Personal/google.com-main/username" }}"
{{- else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "Timothy-Bryant")) }}
    email = "{{ onepasswordRead "op://Personal/simplisafe-okta/username" }}"
{{ end }}

[pager]
    branch = false

#[includeIf "gitdir:~/DevOps-Work/"]
#    path = ~/DevOps-Work/.gitconfig

[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    editor = nano

[trim]
    bases = develop,main

[pull]
    rebase = true

