model = "gpt-5.3-codex"
openai_base_url = "{{ onepasswordRead "op://Personal/litellm-codex/hostname" }}"
forced_login_method = "api"
model_provider = "litellm"

[model_providers.litellm]
name = "LiteLLM"
base_url = "{{ onepasswordRead "op://Personal/litellm-codex/hostname" }}"
env_key = "OPENAI_API_KEY"
supports_websockets = false

[mcp_servers.fetch]
command = "npx"
args = ["mcp-fetch-server"]

[mcp_servers.sequential-thinking]
command = "npx"
args = ["-y", "@modelcontextprotocol/server-sequential-thinking"]

[notice.model_migrations]
"gpt-5.3-codex" = "gpt-5.4"
"gpt-5.1-codex" = "gpt-5.3-codex"

[projects."/Users/timothybryant/DEV/projects/one-skills-manager"]
trust_level = "trusted"
