---
wtf:
  colors:
    border:
      focusable: darkslateblue
      focused: orange
      normal: gray
  exitMessage:
    display: false
  grid:
    columns: [0, 50, 32, 32, 90, 90]
    rows: [12, 12, 10, 4, 4, 5, 5, 5]
  refreshInterval: 1
  mods:
    prettyweather:
        enabled: true
        city: "Middleborough"
        position:
          top: 0
          left: 1
          height: 1
          width: 1
        refreshInterval: 30m
        unit: "u"
        view: 0
        language: "en"
        title: "Weather"

    digitalclock:
      withDatePrefix: False
      dateFormat: "Monday Jan 02 2006"
      color: green
      enabled: true
      font: bigfont
      hourFormat: 12
      position:
        top: 0
        left: 2
        height: 1
        width: 1
      refreshInterval: 1s
      title: "Time"
      type: "digitalclock"

    lunarphase:
      enabled: true
      position:
        top: 0
        left: 3
        height: 2
        width: 2
      language: 'en'
      refreshInterval: 6h

    devto:
      enabled: true
      numberOfArticles: 10
      position:
        top: 1
        left: 1
        height: 1
        width: 2
      contentTag: "devops"
      contentState: "rising"
      refreshInterval: 30m

    hackernews:
      enabled: true
      numberOfStories: 10
      position:
        top: 2
        left: 1
        height: 1
        width: 2
      storyType: top
      refreshInterval: 15m

    ipinfo:
      colors:
        name: "lightblue"
        value: "white"
      enabled: true
      position:
        top: 2
        left: 4
        height: 2
        width: 1
      refreshInterval: 5m

    security:
      enabled: true
      position:
        top: 2
        left: 3
        height: 2
        width: 1
      refreshInterval: 1h

    power:
      enabled: true
      position:
        top: 6
        left: 4
        height: 1
        width: 1
      refreshInterval: 15
      title: "⚡️"

    opsgenie:
      apiKey: "{{ onepasswordRead "op://Personal/ss-opsgenie-api-key/credential" }}"
      displayEmpty: false
      enabled: true
      position:
        top: 6
        left: 3
        height: 1
        width: 1
      refreshInterval: 6h
      region: "us"
      schedule:
      - "Problem_Coordinator_schedule"
      scheduleIdentifierType: "name"

    uptime:
      args: [""]
      cmd: "uptime"
      enabled: false
      position:
        top: 3
        left: 1
        height: 1
        width: 2
      refreshInterval: 30
      type: cmdrunner

    healthchecks:
      type: healthchecks
      enabled: true
      apiKey: "{{ onepasswordRead "op://Personal/healthchecks-api-key-ro/credential" }}"
      apiURL: "https://healthchecks.timmybtech.com/"
      # tags:
      #   - backup
      position:
        top: 4
        left: 3
        height: 2
        width: 2
      refreshInterval: 1h

    kubernetes:
      enabled: true
      kubeconfig: "/Users/timothybryant/.kube/config_k3s"
      namespaces:
      - "*"
      objects:
      # - deployments
      - nodes
      # - pods
      position:
        top: 3
        left: 1
        height: 3
        width: 2
      refreshInterval: 5m
      title: "Homelab"

    urlcheck:
      enabled: true
      timeout: 25
      urls:
        - https://timothybryantjr.com
        - https://blog.timothybryantjr.com
        - https://adguard.timmybtech.com
        - https://grafana.timmybtech.com
        - https://wiki.timmybtech.com
        - https://umami.timmybtech.com
      position:
        top: 6
        left: 1
        height: 2
        width: 2
      refreshInterval: 30
