##############################
## Configuration for lsp-ai ##
##############################

# CURRENTLY BROKEN
# [language-server.lsp-ai]
# command = "lsp-ai"
# args = ["--config", "/Users/timothybryant/.config/helix/lsp-ai.json"]

#################################
## Configuration for helix-gpt ##
#################################

[language-server.gpt]
command = "helix-gpt"
args = [ "--handler", "copilot", "--copilotApiKey", "{{ onepasswordRead "op://Personal/helix-gpt/credential" }}" ]
config = {}

##############################
## Configuration for python ##
##############################

[[language]]
name = "python"
file-types = ["py", "pyi", "py3", "pyw", ".pythonstartup", ".pythonrc"]
auto-format = true
formatter = { command = "black", args = ["-q", "-"] }
language-servers = ["pyright", "gpt"]
indent = { tab-width = 4, unit = "    " }

# [language-server.pylsp.config.pylsp.plugins]
# flake8 = { enabled = false, ignore = ["E501"] }
# autopep8 = { enabled = false }
# mccabe = { enabled = false }
# pycodestyle = { enabled = false }
# pyflakes = { enabled = false }
# pylint = { enabled = false }
# yapf = { enabled = false }
# ruff = { enabled = false }
# black = { enabled = true }

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]
config = {}

##############################
## Configuration for yaml   ##
##############################

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "yamlfmt", args = ["-"] }
