{{ if (or (eq .chezmoi.hostname "Timothys-MacBook-Pro") (eq .chezmoi.hostname "timothys-macbook-air") (eq .chezmoi.hostname "Timothys-MacBook-Air")) -}}
################### PERSONAL CONFIGUARTION ##################
alias _=sudo
alias awsp="source _awsp"
alias awsprofile="source _awsp"
alias btmm="btm --theme gruvbox"
alias cat="bat"
alias cd..="cd .."
alias cdicloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias chez="chezmoi"
alias claude="~/.claude/local/claude"
alias fdn='find . -type d -name' # fd is a seperate command
alias ff="find . -type f -name"
alias gop="gitopolis"
alias g=git
# alias k9s="k9s --kubeconfig ~/.kube/config_k3s "
alias kk=kubectl
alias kprd='kk --context=k3s-prod'
alias kdev='kk --context=k3s-dev'
alias kns='kk ns' # installed with krew
alias kcx='kk ctx' # installed with krew
alias lg="lazygit"
alias ldot="eza --icons=always -ld .*"
alias la="eza --icons=always -lAh"
alias ls="eza --icons=always"
alias ll="eza --icons=always -lh"
alias lst="eza --icons=always --tree"
alias nano="/opt/homebrew/bin/nano"
alias oc="opencommit"
alias pc="podman compose"
alias po=podman
alias poc='podman-compose'
alias please=sudo
alias pr="poetry run"
alias px=pkgx
alias pxi="pkgx install"
alias quit=exit
alias reexec="exec zsh"
alias reload="source ~/.zshrc"
#alias rm="rip"
alias sopse="sops --encrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sopsd="sops --decrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sshadd="ssh-add ~/.ssh/id_master_key"
alias sshstart="eval `ssh-agent -s`"
alias tf=terraform
alias update_spotify_playlist='spotify_to_ytmusic liked --name "Liked songs (Spotify)"'
alias uvenv='uvenv.sh'
alias uvact='eval $(uvenv.sh activate'
alias uvcd='eval $(uvenv.sh cd'
alias wtf=wtfutil
alias zbench="for i in {1..10}; do /usr/bin/time zsh -lic exit; done"
alias zshconfig="micro ~/.zshrc"
alias zj="zellij"
{{ else if (and (ne .chezmoi.hostname "Timothys-MacBook-Pro") (ne .chezmoi.hostname "Timothys-MacBook-Air") (ne .chezmoi.hostname "timothys-macbook-air") (ne .chezmoi.os "linux")) -}}
################### WORK CONFIGUARTION ##################
alias _=sudo
alias awsp="source _awsp"
alias awsprofile="source _awsp"
alias btmm="btm --theme gruvbox"alias cat="bat"
alias cd..="cd .."
alias cdicloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias chez="chezmoi"
alias claude="~/.claude/local/claude"
alias dbuild="docker-compose up -d --force-recreate --build"
alias dclogs="docker-compose logs -f"
alias dcup="docker-compose up -d --force-recreate"
alias ddown="docker-compose down"
alias dxprd='DEX_ENV=prd dx cluster-login'
alias dxqa='dx cluster-login'
alias dxstg='DEX_ENV=stg dx cluster-login'
alias ff="find . -type f -name"
alias g=git
alias kk=kubectl
alias kns='kubectl ns'
alias kcx='kubectl ctx'
alias lg="lazygit"
alias ldot="eza --icons=always -ld .*"
alias la="eza --icons=always -lAh"
alias ls="eza --icons=always"
alias ll="eza --icons=always -lh"
alias lst="eza --icons=always --tree"
alias nano="/opt/homebrew/bin/nano"
alias oc="opencommit"
alias pc="podman compose"
alias po=podman
alias poc=podman-compose
alias please=sudo
alias pp="poetry run python"
alias pr="poetry run"
alias px=pkgx
alias pxi="pkgx install"
alias px=pkgx
alias quit=exit
alias reexec="exec zsh"
alias reload="source ~/.zshrc"
#alias rm="rip"
alias sopse="sops --encrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sopsd="sops --decrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sshadd="ssh-add ~/.ssh/id_master_key"
alias sshstart="eval `ssh-agent -s`"
alias tf=terraform
alias uvenv='uvenv.sh'
alias uvact='eval $(uvenv.sh activate'
alias uvcd='eval $(uvenv.sh cd'
alias zbench="for i in {1..10}; do /usr/bin/time zsh -lic exit; done"
alias zshconfig="nano ~/.zshrc"
alias zj="zellij"
{{ else if (eq .chezmoi.os "linux") -}}
################### LINUX CONFIGUARTION ##################
alias _=sudo
alias awsp="source _awsp"
alias awsprofile="source _awsp"
alias btmm="btm --theme gruvbox"
alias cat="bat"
alias cd..="cd .."
alias chez="chezmoi"
alias fdn='find . -type d -name' # fd is a seperate command
alias ff="find . -type f -name"
alias gop="gitopolis"
alias g=git
# alias k9s="k9s --kubeconfig ~/.kube/config_k3s "
alias kk=kubectl
alias kns='kubectl ns'
alias kcx='kubectl ctx'
alias lazypodman='DOCKER_HOST=unix:///run/user/$(id -u)/podman/podman.sock lazydocker'
alias lg="lazygit"
alias ldot="eza --icons=always -ld .*"
alias la="eza --icons=always -lAh --group"
alias ls="eza --icons=always"
alias ll="eza --icons=always -lh --group"
alias lst="eza --icons=always --tree"
alias oc="opencommit"
alias po=podman
alias poc='podman-compose'
alias please=sudo
alias pr="poetry run"
alias px=pkgx
alias pxi="pkgx install"
alias quit=exit
alias reexec="exec zsh"
alias reload="source ~/.zshrc"
alias sopse="sops --encrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sopsd="sops --decrypt --age $(cat $SOPS_AGE_KEY_FILE | grep -oP "public key: \K(.*)") -i "
alias sshadd="ssh-add ~/.ssh/id_master_key"
alias sshstart="eval `ssh-agent -s`"
alias tf=terraform
alias uvenv='uvenv.sh'
alias uvact='eval $(uvenv.sh activate'
alias uvcd='eval $(uvenv.sh cd'
alias wtf=wtfutil
alias zbench="for i in {1..10}; do /usr/bin/time zsh -lic exit; done"
alias zshconfig="micro ~/.zshrc"
alias zj="zellij"
{{ end }}
