{{- if eq .chezmoi.os "linux" -}}
[[ -e "/home/tbryant/oracle-cli/lib/python3.11/site-packages/oci_cli/bin/oci_autocomplete.sh" ]] && source "/home/tbryant/oracle-cli/lib/python3.11/site-packages/oci_cli/bin/oci_autocomplete.sh"
{{- else if eq .chezmoi.os "darwin" -}}
if command -v ngrok &>/dev/null; then
  eval "$(ngrok completion)"
fi
{{- end }}

eval "$(op completion zsh)"; compdef _op op
source <(chezmoi completion zsh)


