GITEA_USER={{ onepasswordRead "op://Personal/gitea-api/username" }}
GITEA_API_TOKEN={{ onepasswordRead "op://Personal/gitea-api/credential" }}
GITEA_URL={{ onepasswordRead "op://Personal/gitea-api/hostname" }}
